# SMTP Configuration
# You can use Gmail, Outlook, AWS SES, or any other SMTP provider.
# For Gmail, you will need to enable 2-Step Verification and use an App Password.

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your-email@gmail.com
SMTP_PASS=your-app-password
SMTP_FROM="FitSquare Website" <your-email@gmail.com>

# Database
DATABASE_URL="postgresql://user:password@localhost:5432/clinic_db"

# NextAuth
AUTH_SECRET="super-secret-key-change-me" # generate with `npx auth secret` or `openssl rand -base64 32`
AUTH_GOOGLE_ID="client-id"
AUTH_GOOGLE_SECRET="client-secret"

# App Config
NEXT_PUBLIC_APP_URL="app.localhost:3000"
ALLOWED_ADMIN_EMAILS="your-email@gmail.com"
ALLOW_REGISTRATION="true" # Set to false after first login
ADMIN_ROLE="ADMIN"
ACCESS_DENIED_REDIRECT_SECONDS=10
